<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h3>Registering a new user.</h3>
    <hr>
    <form th:object="${customer}" th:action="@{/register}" method="post">
        <label>
            <input type="text" placeholder="Enter name" th:field="*{name}" autofocus="autofocus"/>
        </label>
        <br><br>
        <label>
            <input type="text" placeholder="Enter email" th:field="*{email}" />
        </label>
        <br><br>
        <label>
            <input type="password" placeholder="Enter password" th:field="*{password}" />
        </label>
        <br><br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <span>Already registered? - <a th:href="@{/login}">Login</a></span>
</body>
</html>