<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rent movie</title>
</head>
<body>
    <h3>You are about to rent the movie </h3>
    <p th:text="${movie.title}" th:style="'color: green'"></p>
    <form th:action="@{/addRental}" th:object="${rental}" method="POST">
        Enter a number of rental days: <input type="number" min="1" th:field="*{daysRented}"/>
        <input type="hidden" th:field="*{movie.id}">
        <br><br>
        <input type="submit" value="Rent"/>
    </form>
</body>
</html>